html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}

#canvas {
    border: 1px solid black;
    display: flex;
}

#show-lboard{
    margin-bottom: 1%;
}

.leaderboard-div{
    display: none;
    margin-top: 1%;
}